*
{
 box-sizing: border-box;
}

html
{
 margin: 0;
 padding: 0;
}

body
{
 color:  #4a4a4c;
 overflow: auto;
 padding: 2.5vw;
 margin: 0;
 font-family: roboto-regular, sans-serif;
 line-height: 1.3125;
 font-size: 16px;
}

sup,sub
{
 font-size: 0.75em;
 line-height: 0;
}

table {
 border-collapse: collapse;
 text-align: left;
 width: 100%;
 padding: 0;
 overflow-x: scroll;
}
table ul, table ol
{
    margin-left: 0;
}
table td,
table th
{
 padding: 7.5px;
 font-size: 14px;
}

th
{
 background-color: #62c8df ;
 color: white;
 font-weight: normal;
}

tr:nth-child(even){background-color:  #effafc;}
tr:nth-child(2n+3){background-color: #ffffff }
tr:nth-child(1){background-color: rgba(98, 200, 223, .5); color: black; }

tr:last-child {border-bottom: 1px solid #62c8df ;}

td:nth-child(1)
{
    padding-left:12px;
}
td:last-child
{
    padding-right: 12px;
}
td:nth-child(even), th:nth-child(even)
{
    border-left: 2px solid #ebf0f1;
        border-right: 2px solid #ebf0f1;
}
td:last-child
{
    border-right: none;
}

div.table
{
    overflow-x: scroll;
    width: 100%;
}

ul
{
    list-style: none;
}

ul li::before
{
    content: "•";
    color: #62c8df;
    font-size: 20px;
    font-weight: bold;
    margin-right:  12px;
    margin-left: -20px;
    line-height: 0;
    vertical-align: baseline;
}
td, td>p, td p
{
    color: #425b61;
}
strong{
    font-family: roboto-bold, sans-serif;
    font-weight: 600;
}
td, p
{
    font-family: roboto-regular, sans-serif;
    line-height: 1.3125;
}
p, ul, ol, h1, h2, h3, h4, h5, h6, div, blockquote, li
{
    padding-left: 5%;
}